#wrap {
    min-width: 1600px;
}
#wrap,
#container,
#content,
#footer {
    width: 100%;
}
/* 공통 */
.inner {
    margin: auto;
    position: relative;
    box-sizing: border-box;
}
#header {
    width: 1740px;
    background: #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
#header.on {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(0%);
}
#header .inner {
    height: 90px;
    width: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header h1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header .util {
    display: flex;
    gap: 25px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header .util ul {
    display: flex;
    gap: 25px;
}
#header .util ul li a {
    font-size: 13px;
}
#header .util ul li:last-child a {
    color: #979797;
}
#header .util .all-menu i {
    font-size: 40px;
}
#header .nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 90px;
    overflow: hidden;
    transition: 0.2s linear;
}
#header .nav.on {
    height: 450px;
}
#header .nav .gnb {
    display: flex;
}
#header .nav .gnb > li {
}
#header .nav .gnb > li > a {
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
#header .nav .gnb > li > a:hover {
    color: #17469d;
}
#header .nav .gnb > li > ul {
    padding-top: 20px;
    border-right: 1px solid rgba(136, 136, 136, 0.2);
    height: 320px;
}
#header .nav .gnb > li:last-child > ul {
    border-right: none;
}
#header .nav .gnb > li > ul a {
    color: #fff;
    font-size: 18px;
    line-height: 2;
    display: block;
    text-indent: 30px;
}
#header .nav .gnb > li > ul a:hover {
    color: #f79310;
}
#header .nav .gnb > li > ul li ul a {
    font-size: 16px;
}
#header .nav-bg {
    width: 100%;
    height: 0;
    background: #000;
    opacity: 0.8;
    position: relative;
    z-index: -10;
    transition: 0.2s linear;
}
#header .nav-bg.on {
    height: 350px;
}

#footer {
    background: #131313;
}
#footer .inner {
    width: 1160px;
    padding: 40px 0;
    color: #fff;
    line-height: 20px;
}
#footer .inner p {
    font-size: 13px;
}

.top {
    position: fixed;
    right: 12%;
    bottom: 30px;
    display: none;
}
.top.on {
    display: block;
}
.bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    z-index: 50;
    opacity: 0.6;
}
.bg.on {
    display: block;
}
.sitemap {
    display: none;
    position: fixed;
    width: 960px;
    height: 530px;
    background: #fff;
    left: 50%;
    top: 36px;
    z-index: 1000;
    transform: translateX(-50%);
    border-top: 3px solid #1a2c5e;
    padding: 50px 40px;
    box-sizing: border-box;
}
.sitemap.on {
    display: block;
}
.sitemap .close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.sitemap .close i {
    font-size: 30px;
}
.sitemap .site-gnb {
    display: flex;
}
.sitemap .site-gnb > li {
    width: 33.333%;
    margin-right: 80px;
    float: left;
}
.sitemap .site-gnb > li:last-child {
    margin-right: 0;
}
.sitemap .site-gnb li a {
    color: #224e6b;
    display: block;
}
.sitemap .site-gnb > li > a {
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid #1a2c5e;
    display: block;
    padding: 0 0 17px 20px;
}
.sitemap .site-gnb li ul li {
    border-bottom: 1px solid #e8e8e8;
    padding: 15px 20px;
}
.sitemap .site-gnb .inside li {
    border-bottom: none;
    font-size: 13px;
    padding: 8px 20px 0;
}
.sitemap .site-gnb .inside li:first-child {
    padding-top: 15px;
}
.sitemap .site-gnb .inside li a {
    color: #676767;
}
.sitemap .site-gnb .right ul li a {
    border-bottom: 2px solid #1a2c5e;
    padding: 0 0 17px 20px;
    font-size: 17px;
    font-weight: 600;
}
.sitemap .site-gnb .right ul li {
    padding: 0;
}
.sitemap .site-gnb .right ul li ul li {
    padding: 15px 20px;
}
.sitemap .site-gnb .right ul li ul li:last-child {
    border-bottom: none;
}
.sitemap .site-gnb .right ul li ul li a {
    border-bottom: none;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
}
.sitemap .site-gnb .right .one {
    margin-bottom: 50px;
}
