#mainVisual {
    width: 100%;
    height: 1080px;
    position: relative;
}
#mainVisual .mainBanner {
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
    /* 가로 스크롤 생기는거 방지 */
}
#mainVisual .mainBanner li {
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 100%;
    /* 이미지를 밖으로 내보냄 */
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transition: 0.3s linear;
}
#mainVisual .mainBanner li:nth-child(1) {
    left: 0;
    background-image: url(../images/main01_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(2) {
    background-image: url(../images/main02_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(3) {
    background-image: url(../images/main03_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(4) {
    background-image: url(../images/main04_pc.jpg);
}
#mainVisual .mainBanner li .inner {
    width: 1160px;
    height: 1080px;
    display: flex;
    /* li에서 flex 하고, align-items:center 해도됨
    하지만 안정적으로 li.inner에 w,h 사이즈를 잡고
     display: flex;-> flex-direction: column;
    ->justify-content: center 으로 함 */
    flex-direction: column;
    /* 주축을 세로로 바꿈 */
    justify-content: center;
}
#mainVisual .mainBanner li h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.5px;
    color: #fff;
}
#mainVisual .mainBanner li h2 span {
}
#mainVisual .mainBanner li h2 + p {
    font-size: 20px;
    color: #fff;
}
#mainVisual .mainBanner li h2 + p span {
}
#mainVisual .mainBanner li .more {
    margin-top: 50px;
}
#mainVisual .mainBanner li .more a {
    display: block;
    width: 180px;
    text-align: center;
    line-height: 40px;
    border-radius: 25px;
    border: 1px solid #fff;
    color: #fff;
}
#mainVisual .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    background-color: transparent;
    z-index: 50;
}
#mainVisual .btn i {
    font-size: 30px;
    color: #fff;
}
#mainVisual .prev {
    left: 100px;
}
#mainVisual .next {
    right: 100px;
}
#mainVisual .mouse {
}
/* main 공통 */
.main {
}
.main h2 {
    font-size: 43px;
}
.main .content1 .inner {
    padding: 120px 0;
}
.main .content1 .more {
    text-align: center;
}
.main .content1 .more a {
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 15px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.main .content1 .more a:hover {
    border: 1px solid #f7931d;
    color: #fff;
}
.main .content1 .more a::before {
    content: '';
    display: block;
    width: 220px;
    height: 70px;
    background: #f7931d;
    position: absolute;
    left: -230px;
    top: -10px;
    transition: 0.3s;
    transform: skewX(-15deg);
    z-index: 10;
}
.main .content1 .more a:hover::before {
    left: -10px;
}
.main .content1 .more a span {
    position: relative;
    z-index: 20;
}
.main .content2 .more a {
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 15px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.main .content2 .more a span {
    color: #fff;
    position: relative;
    z-index: 20;
}
.main .content2 .more a:hover span {
    color: #000;
}
.main .content2 .more a::before {
    content: '';
    display: block;
    width: 220px;
    height: 70px;
    background: #fff;
    position: absolute;
    left: -230px;
    top: -10px;
    transition: 0.3s;
    transform: skewX(-15deg);
    z-index: 10;
}
.main .content2 .more a:hover::before {
    left: -10px;
}

/* con1 */
.main .con1 {
}
.main .con1 h2 {
    text-align: center;
    margin-bottom: 6px;
}
.main .con1 h2 + p {
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
    color: #676767;
}
.main .con1 ul {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    /* li한테 너비값을 줘야함
    자식들 컨텐츠가(p) 넘어가버려서 안먹힘 */
    margin-bottom: 50px;
}
.main .con1 ul li {
    width: 270px;
}
.main .con1 ul li a {
}
.main .con1 ul li a div {
    width: 270px;
    height: 365px;
    overflow: hidden;
}
.main .con1 ul li a div img {
    width: 100%;
    transition: 1.5s;
}
.main .con1 ul li a div:hover img {
    transform: scale(1.1);
}
.main .con1 ul li a h3 {
    font-size: 20px;
    margin: 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}
.main .con1 ul li a h3 span {
    display: block;
    /* 한글,영문 위아래로 */
}
.main .con1 ul li a p {
    word-break: keep-all;
    /* 단어별로 내리기 */
    font-size: 15px;
    color: #676767;
}
/* con2 */
.main .con2 {
    position: relative;
}
.main .con2::after {
    content: '';
    width: 100%;
    height: 50%;
    background: #f6f6f6;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    /* con2번에 배경이미지나 색이 없을경우에만 가능 */
}
.main .con2 h2 {
    text-align: center;
    margin-bottom: 50px;
}
.main .con2 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.main .con2 ul li {
    width: 580px;
}
.main .con2 ul li a {
    display: block;
    /* 사이즈가 들어가야하고, overflow:hidden줘야해서 넣음*/
    width: 580px;
    height: 547px;
    overflow: hidden;
    position: relative;
}
.main .con2 ul li a > img {
    transition: 1.5s;
}
.main .con2 ul li a:hover > img {
    transform: scale(1.1);
}
.main .con2 ul li a .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main .con2 ul li a .txt strong {
    font-size: 28px;
    color: #fff;
}
.main .con2 ul li a .txt h3 {
    font-size: 43px;
    color: #fff;
    margin-bottom: 35px;
}
.main .con2 ul li a + p {
    font-size: 17px;
    color: #676767;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}
/* con3 */
.main .con3 {
    position: relative;
}
.main .con3::after {
    content: '';
    display: block;
    width: 43%;
    /* height: 100vh; */
    height: 100%;
    background: #07255d;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    /* con3번에 배경이미지나 색이 없을경우에만 가능 */
}
.main .con3 .inner {
    height: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
}
.main .con3 .public {
    width: 450px;
}
.main .con3 .public strong {
    font-size: 25px;
    font-weight: 100;
    color: #fff;
}
.main .con3 .public h2 {
    color: #fff;
    margin-bottom: 30px;
}
.main .con3 .public h2::after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #d4d4d4;
    margin-top: 10px;
}
.main .con3 .public h2 + p {
    font-size: 17px;
    color: #d4d4d4;
    width: 400px;
    font-weight: 300;
    margin-bottom: 50px;
    word-break: keep-all;
}
.main .con3 ul {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .con3 ul li {
    margin-bottom: 35px;
}
.main .con3 ul li a div {
    width: 275px;
    height: 180px;
    overflow: hidden;
}
.main .con3 ul li a img {
    width: 275px;
    height: 180px;
    transition: 0.7s;
}
.main .con3 ul li a:hover img {
    transform: scale(1.1);
}
.main .con3 ul li strong {
    display: block;
    margin-top: 10px;
    font-size: 17px;
}
/* con4 */
.main .con4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 50%;
    background-attachment: fixed;
    background-image: url(../images/main_foot_bg.jpg);
}
.main .con4 .inner {
    width: 1160px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main .con4 .about {
}
.main .con4 .about h2 {
    font-size: 43px;
    color: #fff;
    margin-bottom: 10px;
}
.main .con4 .about span {
    display: block;
    font-weight: 100;
}
.main .con4 .about h2 + p {
    font-size: 17px;
    color: #fff;
    margin-bottom: 40px;
    font-weight: 100;
}
.main .con4 .about .more span {
    font-weight: 400;
}
.main .con4 ul {
    width: 700px;
    display: flex;
    justify-content: space-between;
}
.main .con4 ul li {
}
.main .con4 ul li a {
    display: block;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .con4 ul li:nth-child(1) a {
    background: rgba(244, 104, 17, 0.7);
}
.main .con4 ul li:nth-child(2) a {
    background: rgba(12, 21, 47, 0.7);
}
.main .con4 ul li:nth-child(3) a {
    background: rgba(7, 37, 93, 0.7);
}
.main .con4 ul li a span {
    display: block;
    width: 55px;
    height: 50px;
    margin-bottom: 15px;
    text-align: center;
}
.main .con4 ul li a span img {
}
.main .con4 ul li a strong {
    font-size: 19px;
    display: block;
    margin-bottom: 5px;
    color: #fff;
}
.main .con4 ul li a em {
    color: #fff;
    opacity: 0.7;
}

.menu {
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.menu.on {
    display: block;
}
.menu::after {
    content: '';
    display: block;
    width: 1px;
    height: 90%;
    background: #dfdfdf;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.menu li {
    margin-bottom: 20px;
    position: relative;
}
.menu li::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #dfdfdf;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-42%, -50%);
    z-index: 100;
}
.menu li.on::after {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #07255d;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-45%, -50%);
    z-index: 100;
}
.menu li.on::before {
    background: #07255d;
}
.menu li:last-child {
    margin-bottom: 0px;
}
.menu li a {
    display: block;
    padding-left: 20px;
    color: #dfdfdf;
    font-size: 13px;
}
.menu li.on a {
    color: #07255d;
}
